workflow/social-media-automation.json
{
  "name": "My workflow 17843",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": []
        },
        "documentId": {
          "__rl": true,
          "value": "1hzEECoYJyvpuQgDYwjqvjggooCLWiHc0VCzbHQOLfZw",
          "mode": "list",
          "cachedResultName": "Social workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hzEECoYJyvpuQgDYwjqvjggooCLWiHc0VCzbHQOLfZw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hzEECoYJyvpuQgDYwjqvjggooCLWiHc0VCzbHQOLfZw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -96
      ],
      "id": "80b61479-8667-4ab2-b935-66f3c1de9431",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1yOvUFUE9iQTdFOF",
          "name": "Google Sheets Trigger account 4363"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n  {{ $json.newslink }}\n  Article: ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        -96
      ],
      "id": "b8802f22-b1c7-487b-837c-27eb8ba0e930",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -160,
        176
      ],
      "id": "c9afd75a-e493-48d5-8f47-34f42e097306",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jbK255Puwv0gzfiD",
          "name": "Google Gemini(PaLM) Api account 10854"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a LinkedIn post with a maximum of 3,500 characters.\nDo not exceed 3,500 characters under any circumstances.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -96
      ],
      "id": "e976c8ab-6ba1-4f3a-8290-4b042f6a7090",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        160
      ],
      "id": "09e99742-4b3f-4c49-a895-687db6b0af64",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jbK255Puwv0gzfiD",
          "name": "Google Gemini(PaLM) Api account 10854"
        }
      }
    },
    {
      "parameters": {
        "person": "e-kOsKYKdj",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        544,
        -96
      ],
      "id": "846fe8c2-961c-4e65-9fdc-836471f36e84",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "h5yaq5JuxEUqstoI",
          "name": "LinkedIn account 3178"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e60f5d0-7635-4d83-a804-56394ecf580f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "ocNvXreEDmaKeHQ7",
  "tags": []
}
